/* Formatação to texto da Descrição */
.descricaodestaque{
    margin: 0;
}

/* Formatação Código de Referência */
.codigoreferencia{
    margin: 0;
    font-family: Arial;
    font-size: 12px;
}
/* Formatação do FlexBox de Produtos */
.flexboxproduto {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
}
/*Formatação das div dentro do Flexbox de Produtos */  
.flexboxproduto > div {
    flex: 1 1 300px;
    margin: 10px;
}