/* Formatação do FlexBox */
.flexboxindex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}
/*Formatação das div dentro do Flexbox */  
.flexboxindex > div {
    flex: 1 1 300px;
    margin: 10px;
}