.textoapresentacao {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
}

/* Formatação do FlexBox do Slideshow */
.flexboxslide {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    vertical-align: middle;
}

/*Formatação das div dentro do Flexbox do Slideshow */  
.flexboxslide > div {
    flex: 1 1 300px;
    margin: 10px; 
}
