/* Arquivo CSS com modelo para todas as paginas */ 

/* Colar o Menu no topo */
body {
  margin: 0px;
}

/* Centralizar copyright em baixo */
footer{
  text-align: center;
}

/* Formatação de imagens Responsivas */
img {
  max-width: 100%;
  display: block;
} 

/* Formatação Rodappe */
.rodape{
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 0px;
}

h1{
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}