/* Formatação Slide Show */
.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
}

/* Setas de Proximo e Anterior */
.setaanterior, .setaproximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Seta de Proximo posicionado à direita */
 .setaproximo { 
    right: 0; 
    border-radius: 3px 0 0 3px;
} 
  
/* Mudar fundo das Setas para preto com 60% de NÃO transparência  */
/* quando se passa o mouse por cima  */
.setaanterior:hover, .setaproximo:hover { 
    background-color: rgba(0,0,0,0.6); 
}  

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: Arial;    
}
  
/* Texto dos números (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: Arial;
  }
  
/* Botoes Selecionadores de foto (em baixo)*/
.botao {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}
/* Animação de troca de fotos */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
  